<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Create Book</title>
</head>

<body>
<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-dark">
    <script th:src="@{/navbar.js}"></script>
</nav>
<div class="container text-center my-5 registration-form">
    <h2 th:text="${books.getId()} == null ? 'Registration New Book': 'Update'"></h2>
    <form th:method="${books.getId()} == null ? POST : PUT"
          th:action="${books.getId()} == null ? @{/book/create} : @{/book/update}" th:object="${books}">
        <input name="id" th:field="*{id}" hidden="hidden" type="number" id="id"/>

        <label for="title">Title:</label>
        <input name="title" th:field="*{title}" type="text" id="title"/><br>

        <br><label for="isbn">ISBN:</label>
        <input type="text" th:field="*{isbn}" id="isbn" name="isbn"><br>


        <br><label for="publisher">Publisher:</label>
        <select id="publisher" name="publisher">
            <option value="">Select Publisher</option>
            <option th:each="publisher : ${publishers}"
                    th:value="${publisher.id}"
                    th:text="${publisher.name}"
                    th:selected="${publisher.id ==selectedPublisherId}">
            </option>
        </select><br>


        <br><label>Authors:</label>
        <div>
            <div th:each="author : ${authors}">
                <input type="checkbox" th:id="'author' + ${author.id}" name="authors" th:value="${author.id}"
                       th:checked="${authorsList != null && #lists.contains(authorsList, author.id)}">
                <label th:for="'author' + ${author.id}" th:text="${author.firstName}"></label>
            </div>

        </div>
        <br><input type="submit" th:value="${books.getId()} == null ? 'Add': 'Update'">
    </form>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
</script>
</body>

</html>