<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}">
    <script src="https://kit.fontawesome.com/0faddc1af8.js" crossorigin="anonymous"></script>
    <title>Book Store</title>
</head>
<body>
<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-dark">
    <script th:src="@{/navbar.js}"></script>
</nav>
<div>
    <a th:href="@{/publisher/create}">
        <button type="submit" class="btn btn-primary" th:action="@{/publisher/create}" method="get">Add new Publisher
        </button>
    </a>
</div>
<div class="container text-center my-5">
    <div class="container text-center my-5">
        <h1>PUBLISHERS LIST</h1>
        <table class="table table-dark table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NAME</th>
                <th scope="col">ADDRESS</th>
                <th scope="col">CITY</th>
                <th scope="col">STATE</th>
                <th scope="col">ZIP</th>
                <th scope="col">UPDATE</th>
                <th scope="col">DELETE</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="publisher:${publishers}">
                <td th:text="${publisher.id}"></td>
                <td th:text="${publisher.name}"></td>
                <td th:text="${publisher.address}"></td>
                <td th:text="${publisher.city}"></td>
                <td th:text="${publisher.state}"></td>
                <td th:text="${publisher.zip}"></td>
                <td>
                    <a th:href="@{/publisher/update/{id}(id=${publisher.id})}">
                        <i class="fa-solid fa-pen-to-square"></i>
                        <span class="fallback-text">Edit</span>
                    </a>
                </td>
                <td>
                    <form id="deleteForm" th:action="@{/publisher/delete/{id}(id=${publisher.getId()})}" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit" onclick="return confirm('Are you sure you want to delete?')"
                                style="background: none; border: none; padding: 0; cursor: pointer;">
                            <i style="color:red" class="fa-solid fa-trash" aria-hidden="true"></i>
                            <span class="fallback-text" style="color:red">Delete</span>
                        </button>
                    </form>
                </td>

            </tr>
            </tbody>
        </table>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous">
        </script>
    </div>
</body>
</html>